.section {
  margin: 64px 0;
}
.title {
  font-size: 18px;
  color: var(--color-primary);
  margin-bottom: 18px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}
.container {
  display: block;
}
