html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Enable smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Global background for entire site */
body {
  background: #0c0f1a; /* dark neon BG */
  overflow-x: hidden;
}
